/* 
* @Author: Marte
* @Date:   2018-11-28 10:50:05
* @Last Modified by:   Marte
* @Last Modified time: 2018-11-30 15:23:45
*/
.con{
    width: 960px;    
}
.head .hsearch {
    margin:0;
}
.nav>ul li{
    width: 85px;
}
.nav h3{
    width: 150px;
}
#main{
    background: #fbfaf9;
    font:12px/1.5 tahoma, arial, 宋体, sans-serif;
}
.maintop{
    width: 960px;
    margin: 10px auto 0;
    color: #666;
}
.maintop a{
    color:#666;
}
.main .main_head{
    width: 960px;
    height: 612px;
}
.main .main_head .main_headl{
    width: 380px;
    height: 612px;
}
.main .main_head .main_headr{
    width: 560px;
    height: 460px;
    /*background: red;*/
    margin-left: 20px;
}
.main .main_head .main_headr .haonan{
    margin-bottom: 20px;
    width: 560px;
    border-bottom: 1px solid #e6e1db;
    font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
    color:#333;
    height:100px;
}
.main .main_head .main_headr .haonan h3{
    display: block;
    margin-right: 10px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
}
.main .main_head .main_headr .haonan p{
    display: block;
    overflow: hidden;
    width: 560px;
    height: auto;
    color: #d73c3c;
    font-weight: bold;
    font-size: 14px;
}
.main .main_head .main_headr .haonan dl{
    float: left;
    width: 560px;
    margin-top: 10px;
    color: #999;
}
.main .main_head .main_headr .haonan dl dd{
    float: left;
    width: 172px;
    height: 20px;
    display: block;
    margin-right: 10px;

}
.main .main_head .main_headr .haonan dl dd span{
    display: block;
    overflow: hidden;
    width: 112px;
    height: 20px;
    text-indent: -10000px;
    background: url(../img/icon.png) no-repeat -50px -107px;
    float: right;
}
.main .main_head .main_headr .haonan dl span:nth-child(4){
    margin-left: 10px;
}
.main .main_head .main_headr .haonan1{
    width: 560px;
    height: 57px;
    border-bottom: 1px solid #e6e1db;
    font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
    color:#999;
    line-height: 36px;
}
.main .main_head .main_headr .haonan1 h2 span{
    font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
    color:#999;
}
.main .main_head .main_headr .haonan1 h2{
    color: #c00;
    margin-right: 10px;
    font-weight: normal;  
    font-size: 32px;
    float: left;
    margin-left: 20px;
    line-height: 32px;
}
.main .main_head .main_headr .haonan2{
    width: 560px;
    height: 60px;
    display: block;
}
.main .main_head .main_headr .haonan2 span{
    width: 120px;
    height: 30px;
    display: inline-block;
    margin-top: 21px;
    font-size: 14px;
    color: #927966;
}
.main .main_head .main_headr .haonan2 span i{
    width: 29px;
    height: 30px;
    display: inline-block;
    background: url(../img/promotionMiddleIcon.png) no-repeat;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
}
.main .main_head .main_headr .haonan2 a{
    width: 120px;
    height: 30px;
    display: inline-block;
    margin-top: 21px;
    font-size: 14px;
    color: #927966;
}
.main .main_head .main_headr .haonan2 a i{
    height: 30px;
    width: 32px;
    display: inline-block;
    background: url(../img/promotionMiddleIcon.png) no-repeat -28px 0px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
}
.main .main_head .main_headr .haonan3{
    padding: 20px;
    width: 518px;
    height: 160px;
    border: 1px dashed #fec083;
    font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
    background: #ffffe8;
}
.main .main_head .main_headr .haonan3 dl{
    display: block;
    padding: 3px 0;
    height: auto;
    line-height: 26px;
    margin-bottom: 10px;
}
.main .main_head .main_headr .haonan3 dl .ct1{
    display: block;
    width: 80px;
    height: 24px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 24px;
    cursor: pointer;
    float: left;
    position: relative;
    margin-right: 5px;
    padding-left: 5px;
}
.main .main_head .main_headr .haonan3 dl .ct1 i{
    position: absolute;
    top: 10px;
    left: 64px;
    overflow: hidden;
    width: 0;
    height: 0;
    border-color: #999 #fff #fff;
    border-style: solid;
    border-width: 6px;
}
.main .main_head .main_headr .haonan3 dl:nth-child(2){
    height: 32px;
}
.main .main_head .main_headr .haonan3 dl:nth-child(2) span{
    float: left;
    width: 60px;
}
.main .main_head .main_headr .haonan3 dl:nth-child(2) a{
    float: left;
    overflow: hidden;
    margin: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/icon.png) no-repeat 0 -232px;
    margin-bottom: 0;
}
.main .main_head .main_headr .haonan3 dl:nth-child(2) input{
    float: left;
    margin-top: 3px;
    padding: 0 3px;
    width:35px;
    height:20px;
    border:1px solid #e6e1db;
    text-align: center;
    line-height: 20px;
}
.main .main_head .main_headr .haonan3 dl:nth-child(3){
    margin-top: 10px;
    height: 44px;
    display: block;
    line-height: 26px;
    padding: 3px 0;
}
.main .main_head .main_headr .haonan3 dl:nth-child(3) a{
    float: left;
    overflow: hidden;
    margin-right: 10px;
    width: 210px;
    height: 44px;
    background: url(../img/icon.png) no-repeat 0 -890px;
}
.main .main_head .main_headr>p{
    color: #957a67;
    text-indent: 3em;
}
.main .main_head .main_headl .shangpin{
    float: left;
    padding: 0 0 15px 0px;
    width: 200px;
    margin-left: 75px;
    height: 30px;
    color: #937966;
    font-size: 12px;
    line-height: 30px;
}
.main .main_head .main_headl .share{
    float: left;
    margin-left: 60px;
    padding-left: 28px;
    width: 45px;
    height: 27px;
    background: url(../img/icon.png) no-repeat -108px -30px;
    color: #666;
    text-decoration: none;
    font-size: 12px;
    line-height: 27px;
}
#details{
    background:#fbfaf9;
}
.details .xuanxiangka{
    float: left;
    width: 958px;
    height: 38px;
    border-color: #e6e1db #e6e1db #74463a #e6e1db;
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    background: #f3f0ed;
}

.details .xuanxiangka a{
    float: left;
    padding: 0 15px;
    width: 110px;
    background: url(images/line.gif) right center no-repeat;
    color: #74463a;
    text-align: center;
    text-decoration: none;
    font: 14px/38px 宋体;
    background: url(../img/icon.png) no-repeat 999px 999px;
}
.details .xuanxiangka a:nth-child(1){
    float: left;
    padding: 0 15px;
    height: 38px;
    background-repeat: repeat-x;
    color: #fff;
    text-decoration: none;
    font: bold 14px/38px 宋体;
    background-position: 0 -764px;
}
.details .xuanxiangka span{
    float: right;
    margin: 6px 6px 0 0;
    width: 102px;
    height: 26px;
    background: url(../img/icon.png) no-repeat -62px -232px;
    cursor: pointer;
}
.nav h3 > ul li > h4 span{
    background: url(../img/bg_header1.png) no-repeat right -203px;
}
.cattab{
    position: fixed;
    top: 0;
    background: #7e0001;
    width: 34px;
    height: 100%;
    z-index: 1400;
    right: 0px;
    font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
    padding-top: 200px;
}
.cattab .cattab1 p{
    background: url(../img/nBar_icon.png?20150309) no-repeat 2px 0;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #650001;
}
.cattab .cattab2{
    width: 20px;
    height: auto;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #650001;
    height: 100px;
}
.cattab .cattab2 p{
    background: url(../img/nBar_icon.png?20150309) no-repeat -20px 1px;
    width: 20px;
    height: 20px;
    display: block;
}
.cattab .cattab2 .gwc{
    text-align: center;
    line-height: 1.2;
    color: #fff;
}
.cattab .cattab2 span{
    margin: 9px 0;
    background: #f46b0a;
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #fff;
}
.cattab>div{
    padding: 7px;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #650001;
}
.cattab div a{
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    background: #650001;
    float: left;
    background: url(../img/nBar_icon.png?20150309) no-repeat -40px 0px;
}
.cattab a:nth-child(4){
    background-position: -60px 0;
}
.cattab a:nth-child(5){
    background-position:-160px 0;
}
.cattab a:nth-child(6){
    background-position:-140px 0;
}
.cattab div:hover{
    background:#000;
}

.images-cover .feifei{
    width: 200px;
    height: 200px;
    display: none;
    transition:all 2s;
}
.images-cover .feifei2{
    width: 20px;
    height: 20px;
    opacity: 0.2;
    position: fixed;
    top: 50%;
    right:0;
}
.images-cover .feifei img{
    width: 100%;
    height: 100%;
}