/* 
* @Author: Marte
* @Date:   2018-11-20 21:19:50
* @Last Modified by:   Marte
* @Last Modified time: 2018-11-28 22:20:11
*/



/*头部*/
#top{
    height: 30px;
    background: #ECE7E3;
}

.top .topl li{
    float: left;
    color: #85726C;
    font-size: 12px;
    line-height: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.top .topl li a{
    color: #85726C;
    font-size: 12px;
}
.top .topl li span{
    color:#C53F4C;
}


/*头部右边*/
.top .topr>li{
    float: left;
    color: #85726C;
    font-size: 12px;
    margin: 7px 0px ;
    padding: 0 12px;
    height:16px;
    border-right: 1px solid #A08779;
}
.top .topr>li a{
    color: #85726C;
    font-size: 12px;
}
.top .topr li:nth-child(3){
    position: relative;
}
.top .topr li:nth-child(3) .zhsanjiaoxing{
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white  transparent;
    position: absolute;
    top: 5px;
    left:5px;
    display: none;
}
.top .topr li:nth-child(3) ul{
    height: 106px;
    width: 100px;
    background: #fff;
    position: absolute;
    top: 15px;
    left:-2px;
    display: none;
}
.top .topr li:nth-child(3) ul li{  
    font-size: 12px;
    height: 25px;
    width: 100px;
    line-height: 25px;
    text-indent: 1em;
    color:#5B473D;
}
.top .topr li:nth-child(3) ul li:hover{
    background: #C53F4C; 
}
.top .topr li:nth-child(4){
    position: relative;
}
.top .topr li:nth-child(4) .phoneQR{
    width: 250px;
    height: 176px;
    background: #fff;
    position: absolute;
    top: 15px;
    left:2px;
    display: none;
    z-index: 101;
    box-shadow: 1px 1px 3px #333333;
}
.top .topr li:nth-child(4) .phoneQR p{
    font-size: 12px;
    color:#85726C;
    text-indent: 1em;
    line-height: 25px;
}
.top .topr li:nth-child(4) .phoneQR .red-code{
    height: 115px;
    width: 250px;
    background: #ccc;
    position: relative;
    margin-bottom: 5px;
    padding-top: 5px;
}
/*.top .topr li:nth-child(4) .phoneQR .red-code .zhsanjiaoxing{
    display: block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent red  transparent;
    position: absolute;
    top: 5px;
    left:5px;
    display: none;
}*/
.top .topr li:nth-child(4) .phoneQR p span{
    color:#F00;
    text-indent: 1em;
}

/*头部*/


#head{
    height: 100px;
    background: #F1EEED;
}
.head{
    border-bottom: 1px solid #E4DFDA;
}
.head .hsearch{
    width: 464px;
    height: 70px;
    padding-top: 30px;
    margin-left: 52px;
}
.head .headl{
    height: 90px;
}
.head .headl a{
    display: block;
    width: 342px;
    height: 82px;
    background: url(../img/logo.png);
    text-indent: -10000em;
    transform: translateY(10px);
    float: left;
    margin-right: 30px;
}

.head .hsearch p input:nth-child(1){
    width: 380px;
    height: 34px;
    border:1px solid #D3161B;
    color:#666;
}
.head .hsearch p input:nth-child(2){
    width: 80px;
    height: 36px;
    background:#D3161B;
    color:#fff;
}
.head .hsearch span{
    font-size: 12px;
    color:#A89893;
    margin-right: 8px;
}
.head .hcart {
    width: 83px;
    height: 35px;
    background:url(../img/bg_header.png)no-repeat  0px -160px;
    padding-left: 40px;
    transform:translateY(30px);
    position: relative;
    z-index: 100;
}
.head .hcart a{
    color:#fff;
    line-height: 35px;
}
.head .hcart>span{
    display: block;
    width: 14px;
    height: 20px;
    background:url(../img/bg_header.png)no-repeat  -124px -160px;
    position: absolute;
    top: -13px;
    left:14px;
    color:#fff;
    padding-left: 6px;
    font-size: 12px;
}
.head .hcart .hcart_xx{
    width: 317px;
    height: 47px;
    background: #EDE9E7;
    position: absolute;
    border:1px solid #C0AA9D;
    top: 35px;
    right:0px;
    box-shadow:1px 1px 1px 1px #C0AA9D;
    padding-top: 10px;
    padding-left: 5px;
    display: none;
    border-radius: 3px;
    
}
.head .hcart .hcart_xx a{
    display: block;
    width: 100px;
    height: 28px;
    color:#fff;
    background: #CD3645;
    float: right;
    border-radius: 10px;
    line-height: 28px;
    text-align: center;
    transform:translateY(-15px);
}
.head .hcart .hcart_xx p{
    color:#5A463D;
    font-size: 11px;
    display: block;
    line-height: 20px;
}
.head .hcart .hcart_xx span{
    color:#C53F4C;
}



/* <!-- 轮播图 -->*/
#banner{
    height: 500px;
    width: 100%;
    overflow: hidden;   
    position: relative;
}
#banner #light{
    width: 500px;
    height: 20px;
    position: absolute;
    left:500px;
    bottom: 10px;
    text-align: center;
    z-index: 10;
}
#banner #light span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #86685E;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
#banner #light span.active{
    background:#D3161B;
}
#banner #imglist li img{
    transition: all 3s;
    cursor: pointer;
    height: 500px;
    width: 1423px;
}
#banner #imglist li img:hover{
    transform: scale(1.1);
}
#banner .banner_box{
    width: 108px;
    height: 430px;
    position: absolute;
    top: 0px;
    right:100px;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
    color:#fff;
    padding-top: 30px;

}
#banner .banner_box ul:nth-child(1){
    height: 110px;
    width: 108px;
    border-bottom: 1px dashed #999;
    margin-bottom: 20px;
}
#banner .banner_box ul:nth-child(1) li{
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
#banner .banner_box ul:nth-child(2) li{
    height: 40px;
    width: 104px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
#banner .banner_box ul li:hover{
    color: #e54247;
}
#banner>.banner_box2{
    position:fixed;
    right: 10px;
    bottom: 30px;
    
}
#banner #imglist>li>img{
    transition: all 1s;
}
#banner .banner_box2:hover{
    transform: scale(1.2);
}
#footer{
    height: 450px;
    background: #E8E8E8;
}